body {
    text-align: center;
    font-style: oblique;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color: brown;
    font-weight: 3000;
}

h2{
    text-align: center;
    color: brown;
}

